.button {
        /*background-color: #F46F80;*/
        padding: .2em 2.2em; /* Control your width and height here! */
        /*opacity: 0.7; */
        /*border-radius: 0.2em;*/
        border: 0px;
        /*font-size: 3em; */
        padding-bottom:0;
}

.button:hover {
  background-color: #FFEFD5;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

.excess {
  margin-top:-2em;
}
